@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import "tailwindcss";

/* NOTE: 설정이 추가될 수 있음 */
@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #6366f1;
  --color-accent: #f97316;
  --color-base: "#1D4ED8";
  --color-background-white: #ffffff;
  --color-background-base: "#179fff";
  --color-dark-base: "#1f2937";
  --color-dark-surface: #374151;
  --color-dark-text: #d1d5db;
  --color-dark-border: "#4B5563";
  --font-sans: "Pacifico", cursive;
}

html,
body {
  background: var(--color-background-white);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
